<app-home></app-home>

<!--<table style=" width: 100%;height: 10%;">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/addserver"> Add Server</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/deleteserver"> Delete Server </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/editserver"> Edit Server </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/viewweatherforecast">View Weather Forecast </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/viewnews">View News</a>  </td>

  </tr>
</table>
<hr/>-->
<!--<table>
  <tr>
      <td>
          Enter UserType
          <input type="text" name="userName" id="userName" placeholder="admin/user" #input/>
      </td>   
      <td>
          <input type="button" name="display" id="display" value="Display" (click)="onClick(input.value)"/>
          
      </td>
  </tr>
</table>-->
<router-outlet></router-outlet>
